/* header */
body {
    margin-left: 50px;
    margin-right: 50px;
}

header {
    max-width: 1170px;
    margin: 0 auto;
}

/* nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.incon-and-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.website-title {
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.black {
    color: #131318;
}

.red {
    color: #FF5400;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* banner */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}


.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 106px;
    margin-top: 0px;

}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    margin: 0 auto;
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    height: auto;
    padding: 16px;
}

::placeholder {
    padding-left: 16px;
}

.input input,
select {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: 0px;
    margin-right: 24px;
}

.input select {
    padding-left: 16px;
}

.btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0px;
}

/* main */
main {
    max-width: 1170px;
    margin: 0 auto;
}

/* section 1 */

.section-one {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.our-popular-tures {
    max-width: 577px;
}

.section-one-title {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 450px;

}

.section-one-img {
    width: 540px;
    height: 550px;
}

/* section 2 */
.container {
    margin-bottom: 100px;
}

.section-two {
    text-align: center;
    margin-top: 100px;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.image {
    border-radius: 16px;
    margin-bottom: 24px;
}

.first-row {
    display: flex;
    gap: 24px;
}

.second-row {
    display: flex;
    gap: 24px;
}


.third-row {
    display: flex;
    gap: 24px;
}


#image-1 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;

    width: 573px;
    height: 300px;
}

#image-2 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 8.png), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;

    width: 573px;
    height: 300px;

}

#image-3 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;

    width: 374px;
    height: 286px;
}

#image-4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;

    width: 474px;
    height: 286px;
}

#image-5 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;

    width: 274px;
    height: 286px;
}

#image-6 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;

    width: 473px;
    height: 300px;
}

#image-7 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;

    width: 673px;
    height: 300px;
}

.place {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 132px;
}

/* section 3 */
.flex {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.box {
    width: 573px;
    height: 284px;
    padding: 32px;
    margin: 0 auto;
}

.box-icon {
    width: 64px;
    height: 64px;
}

.box-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.box-description {
    color: #5A5A5D;

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


#box-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#box-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#box-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-bottom: 100px;
}

/* sec 4 */

.section-four {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.section-four-img {
    background-image: url(../images/Group\ 40089.png);
    width: 610px;
    height: 424px;

}

.sec-four-img-tit {
    width: 276px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 176px auto;

}

/* section 5 */
.section-five {
    display: flex;
    gap: 25px;
}

.newsletter {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.nl {
    margin-left: 40px;
}

.newsletter input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0px;
    margin-bottom: 15px;
}

#btn {
    width: 393px;
}

.newsletter-bg {
    background-image: url(../images/Rectangle\ 8\ \(1\).png);
    width: 672px;
    height: 422px;
    border-radius: 16px;
    
}

.save-up {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background-color: #FF5400;
    text-align: center;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 260px;
}

.small {
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.big {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* responsive */

/* small */

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .banner-title {
        padding-top: 32px;
        font-size: 22px;
    }

    .banner-description {
        font-size: 14px;
    }

    .input {
        width: 180px;
    }

    .input input,
    select {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .section-one {
        flex-direction: column;
    }

    .our-popular-tures {
        margin-bottom: 100px;
    }

    .description {
        width: 335px;
    }

    .destination-title {
        font-size: 20px;
    }

    .first-row,
    .second-row,
    .third-row {
        flex-direction: column;
    }

    #image-1 {
        width: 335px;
        height: 176px;
    }

    #image-2 {
        width: 335px;
        height: 176px;
    }

    #image-3 {
        width: 335px;
        height: 176px;
    }

    #image-4 {
        width: 335px;
        height: 176px;
    }

    #image-5 {
        width: 335px;
        height: 176px;
    }

    #image-6 {
        width: 335px;
        height: 176px;
    }

    #image-7 {
        width: 335px;
        height: 176px;
    }

    .image {
        background-size: cover;
    }

    .place {
        margin-top: 75px;
    }

    .flex {
        flex-direction: column;
    }

    .box {
        width: 335px;
        height: 289px;
    }

    .box-title {
        font-size: 20px;
    }

    .box-description {
        font-size: 14px;
    }

    .section-four {
        flex-direction: column;
        gap: 10px;
    }

    .section-five {
        flex-direction: column;
    }

    .newsletter-bg {
        width: 335px;
        height: 300px;
    }
    .save-up{
        margin-top: 140px;
    }


}

/* medium */

@media screen and (min-width:600.001px) and (max-width: 992px) {
    .banner-title {
        padding-top: 32px;
        font-size: 22px;
    }

    .banner-description {
        font-size: 14px;
    }

    .input {
        width: 180px;
    }

    .input input,
    select {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .section-one {
        flex-direction: column;
    }

    .our-popular-tures {
        margin-bottom: 100px;
    }

    .flex {
        flex-direction: column;
    }

    .section-four {
        flex-direction: column;
        gap: 10px;
    }

}